
body { 
	text-align: left;
}

.container {
	margin: 0 auto;
	width: 80%;
	clear: both;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #BEC4C1;

}

a:active {

}

.main-header {
	margin: 20px auto;

	nav {
		border-radius: 15px;
		background-color: #59749D;
		height: 40px;
		text-align: center;

		ul {
			height: 100%;
			list-style: none;
			margin: 0 auto;
			display: flex;
			padding: 0;
			align-items: center;
			align-content: center;
			

			li {
				display: inline-block;
				flex: 1;

				a:link, a:visited {
					color: #FFFFFF;
				}

				a:hover {
					color: #BEC4C1;
				}
			}

			li:nth-child(-n+3) {
				border-right: solid 3px #A2A253;
			}
		}
	}

}

footer {
	margin: 40px auto;
	color: #119797;
	height: 20px;
	text-align: center;

	p {
		text-align: center;
	}

	a:link, a:visited {
		color: #119797;
	}

	a:hover {
		color: #BEC4C1;

	}
}

/*@media only screen and (max-width: 530px) {
	.container {
		margin: 0 auto;
		width: 60%;
		clear: both;
	}
}*/