@font-face {
  font-family: colabbol;
  src: url(fonts/colabbol.otf); }
@font-face {
  font-family: colablig;
  src: url(fonts/colablig.otf); }
@font-face {
  font-family: colabmed;
  src: url(fonts/colabmed.otf); }
@font-face {
  font-family: colabreg;
  src: url(fonts/colabreg.otf); }
@font-face {
  font-family: colabthi;
  src: url(fonts/colabthi.otf); }
/*deprecated*/
/*@keyframes rotateLogo {

	0% {transform: rotateY(0deg);}
	10% {transform: rotateY(72deg);}
}*/
* {
  padding: 0;
  margin: 0; }

html, body {
  font-family: colablig, Misco, Serif;
  font-size: 14px; }

div#fp-nav ul li {
  font-size: 2rem;
  color: #27DCEC; }

div[data-anchor='aboutme'] {
  text-align: center;
  padding-bottom: 0;
  color: #B9AA23; }
  div[data-anchor='aboutme'] img {
    padding: 0; }
  div[data-anchor='aboutme'] p {
    position: absolute;
    width: 50%;
    top: 35%; }
    div[data-anchor='aboutme'] p span.welcome-text {
      font-size: 2rem;
      color: #000000; }

div[data-anchor="interests"] h3 {
  font-size: 2rem; }
div[data-anchor="interests"] p {
  font-size: 1.5rem; }
div[data-anchor="interests"] div img#penguin-logo:hover {
  transform: rotateY(360deg);
  transition: all 4s ease; }

div[data-anchor="contacts"] div label[for="message"] {
  vertical-align: top;
  padding: 0; }
div[data-anchor="contacts"] pre {
  background-color: #FFFFFF;
  border: none; }
  div[data-anchor="contacts"] pre code {
    background-color: #FFFFFF; }

footer.container-fluid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
  height: 45px;
  width: 100%; }
  footer.container-fluid div {
    height: 100%; }
  footer.container-fluid div.social-links {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
    footer.container-fluid div.social-links a {
      flex: 1;
      color: #FFFFFF; }
    footer.container-fluid div.social-links a:hover {
      color: #286090; }

canvas {
  margin: 40px auto; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*

body.container { 
	width: 100%;	
	text-align: center;
	margin: 0 auto;
}

header {
	text-align: center;
	margin: 40px auto;
	width: 80%;
	nav {
		ul {
			display: flex;
			margin: 10 auto;
			padding: 0;
			li {
				display: inline;
				flex : 1;
			}
		}
	}
}*/
/*
.container {
	margin: 0 auto;
	width: 80%;
	clear: both;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: $a_LinkAndVisitedColor;
}

a:hover {
	color: $a_hoverColor;

}

a:active {

}

.main-header {
	margin: 20px auto;

	nav {
		border-radius: 15px;
		background-color: $headerFooterBackgroundColor;
		height: 40px;
		text-align: center;

		ul {
			height: 100%;
			list-style: none;
			margin: 0 auto;
			display: flex;
			padding: 0;
			align-items: center;
			align-content: center;
			

			li {
				display: inline-block;
				flex: 1;

				a:link, a:visited {
					color: #FFFFFF;
				}

				a:hover {
					color: #119797;
				}
			}

			li:nth-child(-n+3) {
				border-right: solid 3px #A2A253;
			}
		}
	}
}

main.content {
	text-align: center;

	& > div {
		padding: 5	% 0;
	}
}

footer {
	margin: 40px auto;
	color: #119797;
	background-color: $headerFooterBackgroundColor;
	height: 40px;
	text-align: center;
	border-radius: 15px;

	p {
		text-align: center;
		padding: 10px 0 0 0;
		margin: 0 auto;
	}

	a:link, a:visited {
		color: $a_LinkAndVisitedColor;
	}

	a:hover {
		color: $a_hoverColor;

	}
}

*/
/*@media only screen and (max-width: 530px) {
	.container {
		margin: 0 auto;
		width: 60%;
		clear: both;
	}	
}*/

/*# sourceMappingURL=main.css.map */
